{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
<div class="topnav">
{% if user.is_authenticated %}
<a href="/home/">HOME</a>
<a href="/logout/">LOGOUT</a>
{%else%}
<a href="/home/">HOME</a>
<a href="/login/">LOGIN</a>
<a href="/register/">REGISTER</a>
<a href="/admin/">DJANGO ADMIN PAGE</a>
{%endif%}
</div>
<div>
  <h3>WELCOME TO HOME PAGE..!</h3>
  {% if user.is_authenticated %}
  <h3>Hello,<b>{{user.first_name}}</b> WELCOME..!</h3><br>
  {%endif%}

</div>
</body>

</html>